<h1>Contact</h1>
	<p>
		Email me at matthew dot fong at gmail dot com or follow me on twitter.
		<a href="https://twitter.com/apechai" class="twitter-follow-button" data-show-count="false">Follow @apechai</a>
		<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
	</p>

